.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(207, 100%, 94%);
    padding: 10px;
    /* margin: 10px; */
    text-align: left;
    width: 250px;
    display: inline-block;
}

.card-container{
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    overflow-x: auto;
    /* justify-content: space-around; */
    gap: 8px;
    padding: 20px;
    max-width: 100%;
}