.cardHover {
  position: relative;
  z-index: 1; /* add this to ensure the card hovers above its parent elements */
}

.cardHover:hover {
  background-color: #f5f5f5; /* or any other background color you prefer */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px); /* add this to make the card hover up */
}

.cardInfo {
  display: none;
}

.cardHover:hover .cardInfo {
  display: block !important;
}
.search-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  flex: 1;
  margin-right: 10px;
}



.filter-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.filter-dropdown label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-dropdown .MuiSelect-root {
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.filter-dropdown .MuiSelect-icon {
  color: #333;
}